
<div class="overview-div">
    <p style="font-weight: 500;">Employees from various States</p>
    <div *ngFor="let data of overviewValues" style="display: flex; justify-content: space-between; color:gray">
        <p><span [ngStyle]="{'background-color':data['color'], 'padding': '10px'}">&nbsp;</span> Employees from {{data["name"].toUpperCase()}} = {{data["value"]}}</p>
        
        <p *ngIf="!isNan(((data['value'] / total)*100).toFixed(1)); else elseBlock">{{((data["value"] / total)*100).toFixed(1)}}%</p>

        <ng-template #elseBlock>
            <p>0%</p>
        </ng-template>
        
    </div>
</div>