.cardContainer {
    max-width: 21em;
    min-width: 10em;
    margin-bottom: 30px;
}

.card {
    height: fit-content;
    /* margin-left: 2em;
    margin-right: 2em; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 !important;
    width: 275px;
    
}
.dot {
    position: absolute;
    left: -5px;
}
.desc {
    /* width: 18em; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lead {
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
    
}