
#actionBtn {
    
    display: flex;
    /* flex-direction: ; */
    /* justify-content: space-around; */
    /* margin-right: 0;
    margin-left: auto;      */
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.breaker {
    margin-left: 1em;
    /* margin-right: 1em; */
    cursor: default;
}


.listIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    /* background-color: red; */
    /* margin-left: 0; */
    width: 10em;
    height: 100%;
    cursor: pointer;
}
.listIcons span {
    opacity: 0.5;
}
.listIcons li {
    list-style-type: none;
}

.filterContainer {
    display: flex;
    width: 100%;
    /* background: yellow; */
    margin-top: 1em;
    margin-bottom: 20px;
    
}
.insightBtn {
    margin-left: auto;
}
.btn {
    border-radius: 20px;
}

.header-div{
    display: flex;
}
@media(max-width: 800px){
    .header-div{
        flex-direction: column;
        margin-bottom: 10px; 
    }
    .header{
        text-align: center;
        margin-bottom: 20px !important;
    }
    .insightBtn {
        margin: 0;
        margin-right: auto;
    }
}