
    <app-hero-section (ChangeIncome)="changeIncome($event)" (buyingType)="changeBuying($event)" (manufacturer)="changeManufacturer($event)" ></app-hero-section>
    
    

    <!-- Cards goes here -->

        <div class="container chart-div">
            
            <app-card-component [buyingType]="selectedBuying" *ngFor="let item of cards; let i=index" [dataType]="item" [incomeData]="incomes[i]"></app-card-component>
            <app-card-component [manufacturerName]="selectedManufacturer" *ngFor="let item of cards; let i=index" [dataType]="item" [incomeData]="incomesMan[i]"></app-card-component>
        </div>
        
    <!-- <app-bar-chart></app-bar-chart> -->


    <div class="container">

        <div class="border border-2 p-3 pt-5 mt-4 chart-div ">
            <app-chart-overview [dataOverview]="Data"></app-chart-overview>
            <app-stack-chart [data]="Data"></app-stack-chart>
        </div>
    </div>
    <div class="p-2"></div>        